@import 'styles/colors.scss';

.NavLink {
  // background-color: $light-shades-trans;
  display: inline-block;
  padding: 20px 0px;
  margin: 10px 0px;
}

.NavLink a {
  transition-duration: $standard-transition-duration;
  padding: 20px;
  background-color: $main-brand-color;
  color: $light-shades;
  font-weight: 500;
  font-size: 18px;
  margin: 10px;
  border-radius: 3px;
  // box-shadow: $dark-shadow;
}

.NavLink a:hover {
  transition-duration: $standard-transition-duration;
  background-color: $light-shades-trans;
  color: $light-shades;
  // box-shadow: $light-shadow;
}
